<footer style="background-color: #2a3252; display: block; height: 400px; margin: 0px;">
    <div class="footer" style="color: white; text-align: left; width: 60%; padding: 80px;">
      Email do desenvolvedor: dhominisalgado@gmail.com<br>
      Github do desenvolvedor: <a target="_blank" href="https://github.com/fael07">https://github.com/fael07</a><br>
      link do projeto no github: <a target="_blank" href="https://github.com/fael07/Company-Management">https://github.com/fael07/Company-Management</a><br>
    </div>
</footer>