*{
    font-family: Arial, Helvetica, sans-serif;
}

.divMyCompany{
    text-align: center;
}

.myCompany{
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}

.titleMyCompany{
    background-color: black;
    color: white;
    padding: 3px;
    text-indent: 10px;
    text-align: left;
}

.bodyMyCompany{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.funcionario{
    padding: 15px;
    border-right: 3px solid black;
}

.funcionarioTasks{
    padding: 15px;
}