{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block 'title' %}CADASTRO | GESTOR{% endblock %}

{% block  'content' %}
<div id="division">
    {% include 'Parts/_aside.html' %}
    <main style="width: 650px; border: 3px solid black; padding: 25px; margin-top: 10px; border-radius: 20px;">
        <h2 class="mt-3 mb-3">Complete seu cadastro como gestor</h2>
        <form method="POST" action="{% url 'cadastro_gestor' %}"  style="text-align: left;">
            <div id="div_id_nome" class="form-group">
                <label for="id_nome_user" class=" requiredField"> Nome    </label> 
                <div class=""> 
                    <input type="text" name="nome_user" maxlength="120" class="textinput textInput form-control" required id="id_nome_user" value="{{  user.first_name }}"> 
                </div> 
            </div>
            <div id="div_id_email" class="form-group"> 
                <label for="id_email_user" class=""> Email             </label> 
                <div class=""> <input type="email" name="email_user" value="{{ user.email }}" maxlength="254" class="emailinput form-control" id="id_email_user" required> </div> </div>
            {% csrf_token %}
            {{ form|crispy }}
            <div id="btn"  style="text-align: right;">
                <button type="submit" class="btn btn-primary">SALVAR</button>
            </div>
        </form>
    </main>
</div>
<script src="{% static 'form.js' %}"></script>
{% endblock %}