{% extends 'base.html' %}

{% block 'title' %}EDITAR CONTA{% endblock %}

{% block  'content' %}
<div id="division">
    {% include 'Parts/_aside.html' %}
    <main>
        INFORMAÇÕES PESSOAIS
        <section>
            <form action="{% url 'editar_conta' %}" method='POST'>
                <p>
                    {% csrf_token %}
                    <label for="usuario">Nome de usuário: </label>
                    <input type="text" value="{{ user.username }}" name="usuario">
                    <button class="btn btn-primary" type="submit" >SALVAR</button>
                </p>
            </form>
            <br>
            <form action="{% url 'editar_conta' %}" method='POST'>
                <p>
                    {% csrf_token %}
                    <label for="nome">Nome: </label>
                    <input type="text" value="{{ user.first_name }}" name="nome">
                    <button class="btn btn-primary" type="submit">SALVAR</button>
                </p>
            </form>
            <br>
            <form action="{% url 'editar_conta' %}" method='POST'>
                <p>
                    {% csrf_token %}
                    <label for="email">Email: </label>
                    <input type="text" value="{{ user.email }}" name="email">
                    <button class="btn btn-primary" type="submit">SALVAR</button>
                </p>
            </form>
            <br>
            <form action="{% url 'editar_conta' %}" method='POST'>
                <p id="password">
                    {% csrf_token %}
                    <label for="senha_atual">Senha Atual: </label>
                    <input type="password" name="senha_atual"><br>
                    <label for="nova_senha">Nova senha: </label>
                    <input type="password" name="nova_senha"><br>
                    <label for="nova_senha2">Confirmar nova senha: </label>
                    <input type="password" name="nova_senha2"><br>
                    <button class="btn btn-primary" type="submit">ALTERAR SENHA</button>
                </p>
            </form>
            <br>
        </section>
    </main>
</div>
{% endblock %}