{% extends 'base.html' %}
{% load filtros %}
{% block 'title' %}{% endblock %}

{% block  'content' %}
<div id="division">
    {% include 'Parts/_aside.html' %}
    <main>
        <h2>ESCOLHA UMA EMPRESA PARA EDITAR</h2>
        {% for empresa in empresas_presidente %}
        <section class="myCompanyE">
            <div class="titleMyCompanyE">
                  <img src="/media/{{ empresa.logo }}" alt="logo" style="width: 60px; height: 35px;">
                  <a href="{% url 'editar_empresa' empresa.link %}" class="titleMyCompanyE">{{ empresa.nome }}</a> 
              </div>
        </section>
        <br>
        {% endfor %}
    </main>
</div>
{% endblock %}