{% extends 'base.html' %}

{% block 'title' %}Home{% endblock %}

{% block  'content' %}
<main>
    <h2>SISTEMA DE ADMINISTRAÇÃO DE FUNCIONÁRIOS</h2>
    <img src="https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="foto-funcionarios" style="width: 65%; margin: auto;">
    <p>
        Este sistema serve para gerenciamento de dados de funcionários, controle de gastos e meio de comunicação com os funcionários
    </p>
    <div id="btn" style="text-align: center;">
        <a class="btn btn-success" href="#" target="_self">Faça Login</a>
        <button type="button" class="btn btn-primary">Cadastre-se</button>
    </div>
</main>
{% endblock %}