{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}FUNCIONÁRIOS{% endblock %}

{% block  'content' %}
<div id="division">
    {% include 'Parts/_aside.html' %}
    <main style="margin: 20px;";>
        <section class="myCompanyE">
            <div class="titleMyCompanyE">
                  <img src="/media/{{ empresa.logo }}" alt="logo" style="width: 60px; height: 35px;">
                  <a href="{% url 'info_empresa' empresa.link %}" class="titleMyCompanyE">{{ empresa.nome }}</a> - <a href="{% url 'lista_funcionarios' empresa.link %}" class="titleMyCompanyE">Lista de funcionários</a> 
                  <div style="display: inline-block;">
                    <a href="{% url 'cadastro_funcionario' empresa.link %}" class="titleA">ADICIONAR FUNCIONARIO</a>
                    <a href="{{ request|demitido }}" class="titleA">DEMITIDOS</a>
                  </div>
              </div>
        </section>
        <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Telefone Comercial</th>
                <th>Salário</th>
                <th>Profissão</th>
              </tr>
            </thead>
            <tbody>
              {% if funcionarios %}
              {% for funcionario in funcionarios %}
              <tr>
                <td>
                  <a href="{{ request.path }}/{{ funcionario.id }}" style="color: black; text-decoration: none;">{{ funcionario.nome }}</a>
                </td>
                <td>{{ funcionario.telefone_comercial }}</td>
                <td>R$ {{ funcionario.salario|grana }}</td>
                <td>{{ funcionario.profissao }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
          {% include 'Parts/_paginator.html' %}
    </main>
    {% include 'Parts/_search.html' %}
</div>
{% endblock %}