{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}MINHA CONTA{% endblock %}

{% block  'content' %}
<div id="division">
    {% include 'Parts/_aside.html' %}
    <main>
      {% if empresas_presidente %}
      {% for empresa in empresas_presidente %}
      <div class="divMyCompanyf">
        <section class="myCompanyf">
            <div class="titleMyCompanyf">
                <img src="/media/{{ empresa.logo }}" alt="logo" style="width: 27px; height: 17px;">
                <a href="{% url 'info_empresa' empresa.link %}">{{ empresa.nome }} - {{ empresa.data_de_criacao|ano }}</a>
            </div>
            <div class="bodyMyCompanyf">
                <div class="funcionario">
                    <img src="/media/{{ user.foto }}" alt="perfil" style="width: 250px; height: 225px;">
                    <p>
                      <br>Nome: {{ user.first_name }}
                      <br>Profissão: Presidente
                    </p>
                </div>
                <div class="funcionarioTasks">
                    Tarefas:<br>
                    - Atualizar noticías<br>
                    - Nova noticía<br>
                </div>
            </div>
        </section>
      </div>
      {% endfor %}
      {% endif %}

      {% if empresas_presidente %}
      {% for empresa in empresas_funcionario %}
      {% endfor %}
      {% endif %}
    </main>
</div>
{% endblock %}