{% if solicitacoes_empresa %}
{% for solicitacao in solicitacoes_empresa %}
<div class="divMyCompanyf">
    <section class="myCompanyf">
        <div class="titleMyCompanyf" style="height: 40px;">
            <img src="/media/{{ solicitacao.empresa.logo }}" alt="logo" style="width: 40px; height: 30px; margin-top: 0px; margin-bottom: 10px;">
            <a href="{% url 'info_empresa' empresa.link %}" style="font-size: 20PX;">{{ solicitacao.empresa.nome }} - {{ solicitacao.empresa.data_de_criacao|ano }}</a>
        </div>
        <div class="bodyMyCompanyf">
            <p>
                {{ solicitacao.usuario.nome }} pode gerenciar sua empresa?
            </p>
            <form action="POST">
                <div id="btn"  style="text-align: left;">
                    <button type="submit" class="btn btn-sucess" name="resposta" value="sim">SIM</button>
                    <button type="submit" class="btn btn-danger" name="resposta" value="nao">NÃO</button>
                </div>
            </form>
            </div>
        </div>
    </section>
</div>
<br>
{% endfor %}
{% endif %}

{% if solicitacoes_funcionario %}
{% for solicitacao in solicitacoes_funcionario %}
<div class="divMyCompanyf">
    <section class="myCompanyf">
        <div class="titleMyCompanyf" style="height: 40px;">
            <img src="/media/{{ solicitacao.empresa.logo }}" alt="logo" style="width: 40px; height: 30px; margin-top: 0px; margin-bottom: 10px;">
            <a href="{% url 'info_empresa' solicitacao.empresa.link %}" style="font-size: 20PX;">{{ solicitacao.empresa.nome }} - {{ solicitacao.empresa.data_de_criacao|ano }}</a>
        </div>
        <div class="bodyMyCompanyf">
            <p>
                STATUS: {{ solicitacao.status }}
                RESPOSTA: {{ solicitacao.resposta }}
            </p>
            <form action="POST">
                <div id="btn"  style="text-align: left;">
                    <button type="submit" class="btn btn-danger" name="resposta" value="finalizado">FINALIZAR</button>
                    <button type="submit" class="btn btn-danger" name="resposta" value="interrompido">INTERROMPIDO</button>
                </div>
            </form>
        </div>
    </section>
</div>
<br>
{% endfor %}
{% endif %}